html::after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999999999;
  content: "This application requires JavaScript to function.\00000a\
  It appears to be disabled by your browser's settings or ad blocking software.";
  padding: 3rem;
  font-size: 1rem;
  text-align: center;
  line-height: 150%;
  white-space: pre-line;
  background: rgba(255, 255, 255, .9);
  box-shadow: -10px 36px 91px rgba(0, 0, 0, .4);
  visibility: hidden;
  animation: 4s fadeIn;
  animation-fill-mode: forwards;
  -webkit-animation: 4s fadeIn;
  -webkit-animation-fill-mode: forwards;
}

html.has-js::after {
  display: none;
}

@keyframes fadeIn {
  80% { visibility: hidden; }
  100% { visibility: visible; }
}

@-webkit-keyframes fadeIn {
  80% { visibility: hidden; }
  100% { visibility: visible; }
}
